/* css reset */
*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}
/* Ip unversity Logo */
#MainPage{
	border: 0px solid red;
	height: 134px;
	width: 100vw;
	display: flex;
}
#container{
	border: 0px solid red;
	height: 233px;
	width: 216px;
	background:url("E:/css/ip_project/logo4.jpg") no-repeat center center/cover;
	margin-left: 107px;
}
/* here, i have changed the color of icon (i) */
#container1 i{
          font-size: 30px;
          color: red;
}
#container1{
	border: 0px solid red;
	height: 133px;
	width: 500px;
	margin-left: 5px;
}
#container2{
	border: 0px solid red;
	height: 133px;
	width:380px;
	margin-left: 223px;
}
#container2 i{
          font-size: 30px;
          color: red;
}
/* media query for top level */
@media(max-width: 1000px){
	#container1{
	border: 0px solid red;
	height: 133px;
	width: 700px;
   }
}
@media(max-width: 1000px){
	#container2{
	border: 0px solid red;
	height: 133px;
	width:380px;
	margin-left: 125px;
}
}
@media(max-width: 1335px){
	#container{
	height:131px;
	width: 232px;
	background:url("E:/css/ip_project/download%20(1).png") no-repeat center center/cover;
	margin-left: 10px;
   }
}
#image{
	border: 2px solid red;
	width: 328px;
	height: 133px;
}
nav{
	  margin-top: 120px;
    background: #041E54;
    width: 102%;
    height: 135px;
    position: relative;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
label.logo{
	margin-left: 50px;
	height: 133px;
	width: 328px;
}
nav ul{
	float: right;
	margin-right: 230px;
	margin-top: 35px;
}
nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
}
nav a{
	color: white;
	font-size: 18px;
	text-decoration: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;
}
a.active,a:hover{
	border: 1px solid white;
	transition: .5s;
}
nav #icon{
	color: white;
	font-size: 30px;
	line-height:136px;
	float: right;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
@media(max-width: 1048px){
	label.logo{
	
	}
	nav ul{
		margin-right: 50px;
	}
	nav a{
		font-size: 17px;
	}
}
@media(max-width: 1000px){
	nav #icon{
		display:block;
	}
	nav ul{
		position: fixed;
		z-index: 2;
		width: 100%;
		height: 100;
		background: #041E54;
		top: 352px;
		left: 100%;
		text-align: center;
		transition: all .5s;

	}
	nav li{
		display:block;
		margin: 50px 0;
		line-height: 30px;

	}
	nav a{
		font-size: 20px;
	}
	a.active,a:hover{
		border: none;
		color: #3498db;
	}
	nav ul.show{
		left: 0;
	}

}
/* silde show view start*/

.img-slider{
	position: relative;
	width: 800px;
	height: 300px;
	margin-top: 10px;
}
.img-slider .slide{
	z-index: 0;
	position: absolute;
	left: 48%;
	width: 100%;
	clip-path: circle(0% at 0 50%);
}
.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property:clip-path ;
}
.img-slider .slide img{
	border: 2px dotted  #041E54;
	margin-top: 5px;
	z-index: 0;
	width: 70%;
	border-radius: 5px;
}
.img-slider .navigation{
	z-index: 0;
	position: absolute;
	display: flex;
	/* these are two property by using or manupulating this we can change the position of bottom either left right or top to bottom */
	bottom: -50px;
	left: 83%;
	/* these are two property by using or manupulating this we can change the position of bottom either left right or top to bottom */
	transform: translateX(-50%);
}
.img-slider .navigation .btn{
	background: #041E54;
	width: 12px;
	height: 12px;
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;
}
.img-slider .navigation .btn.active{
	background: white;
}
/* silde show view end*/

/* strart from,media query */

@media(max-width: 1200px){
	.img-slider .slide{
	z-index: 0;
	position: absolute;
	left: 22%;
	width: 100%;
	clip-path: circle(0% at 0 50%);
  }
  .img-slider .navigation{
	z-index: 0;
	position: absolute;
	display: flex;
	/* these are two property by using or manupulating this we can change the position of bottom either left right or top to bottom */
	bottom: -50px;
	left: 60%;
	/* these are two property by using or manupulating this we can change the position of bottom either left right or top to bottom */
	transform: translateX(-50%);
  }
}
/*end here,media query */

/* marquee design */
marquee{
	color: red;
	font-weight: bold;
	font-size: 20px;
	margin-top: 120px;
}
/* notice container */
#note h1{
	color: red;
	font-weight: bold;
}
#note a{
	font-size: 20px;
}
#note{
	justify-content: center;
	text-align: center;
}
/*containerLast */

#containerLast{
	border: 0px solid red;
	margin-top: 10px;
	height: 410px;
	width: 100vw;
	background: #041E54;
	/*flex-direction: column; by using this property, we can change the container behaviour */
	display: flex;
	justify-content: center;
}
#containerLast{
	color: red;
	font-size: 10px;
	text-align: center;
}
@media(max-width: 1000px){
	#containerLast{
		margin-top: 0px;
		height: 200px;
	    width: 100vw;
	    background: #041E54;

	}
}
.box1{
	border: 2px solid red;
	height: 300px;
	width: 230px;
	margin: 7px;
	background: white;
}
.box1 ul.a li{
	list-style-type: circle;
	color: blue;
	padding: 10px;
	margin-left:30px;
	font-size: 15px;
	font-weight: bold;
}
.box1 hr{
	height: 10px;
	background:#041E54; ;
}
.box1 button{
	  margin-top: 40px;
    margin-left: 158px;
    height: 30px;
    background: #041E54;
    color: white;
    cursor: pointer;
}
.box2{
	border: 2px solid red;
	height: 400px;
	width: 230px;
	margin: 7px;
	background: white;
}

.box2 ul.a li{
	list-style-type: circle;
	color: blue;
	padding: 10px;
	margin-left:30px;
	font-size: 15px;
	font-weight: bold;
}
.box2 hr{
	height: 10px;
	background:#041E54; ;
}
.box2 h1{
	color: blue;
}
.box3{
	border: 2px solid red;
	height: 350px;
	width: 230px;
	margin: 7px;
	background: white;
}
.box3 hr{
	height: 10px;
	background:#041E54; ;
}
.box3 ul.a li{
	list-style-type: circle;
	color: blue;
	padding: 10px;
	margin-left:30px;
	font-size: 15px;
	font-weight: bold;
}
.box3 ol.b li{
	list-style-type: decimal;
	color: blue;
	padding: 10px;
	margin-left:30px;
	font-size: 15px;
	font-weight: bold;
}
.box3 button{
	  margin-top: 50px;
    margin-left: 158px;
    height: 30px;
    background: #041E54;
    color: white;
    cursor: pointer;
}
/* media query for below boxes like box1,box2, it is getting used for responsive */
@media(max-width: 1000px){
	#containerLast{
	border: 0px solid red;
	margin-top: 10px;
	height: 1763px;
	width: 100vw;
	background: #041E54;
	flex-direction: column; /* by using this property, we can change the container behaviour */
	justify-content: center;
 }

.box1{
	border: 2px solid red;
	height: 350px;
	width: 590px;
	margin: 7px;
	background: white;
	margin-left: 22%;
	margin-top: 10px;
 }
 .box1 button{
	  margin-top: 160px;
    margin-left: 520px;
    height: 30px;
    width: 73px;
    background: #041E54;
    color: white;
    cursor: pointer;
}
.box2{
	border: 2px solid red;
	margin-top: 15px;
	height: 400px;
	width: 549px;
	margin: 7px;
	margin-left: 22%;
	background: white;
	padding: 20px;
 }
 .box3{
	border: 2px solid red;
	height: 350px;
	width: 590px;
	margin: 7px;
	background: white;
	margin-left: 22%;
	margin-top: 40px;
 }
 .box3 button{
	  margin-top: 7px;
    margin-left: 515px;
    height: 30px;
    background: #041E54;
    color: white;
    cursor: pointer;
 }
}
 /* follow me process*/
 #follow{
 	 border: 0px solid red;
 	 margin-top: 10px;
 	 height: 100px;
 	 width: 50%;
 	 justify-content: center;
 	 text-align: center;
 	 display: flex;
 }
 .box-size{
 	border: 0px solid red;
 	height: 57px;
 	width: 57px;
 	margin: 5px;
 	margin-top: 40px;
}
.box-size img{
  height: 57px;
 	width: 57px;
}
#follow h1{
	color: red;
}
@media(max-width: 1000px){
	#follow{
 	 border: 0px solid red;
 	 margin-top: 10px;
 	 height: 100px;
 	 width: 50%;
 	 justify-content: center;
 	 text-align: center;
 	 display: flex;
 	 margin-left: 30%;
 }
 .box-size{
 	border: 0px solid red;
 	height: 57px;
 	width: 57px;
 	margin: 5px;
 	margin-top: 40px;
}
.box-size img{
  height: 57px;
 	width: 57px;
   }

}

  /* follow me process end*/

/* footer process */
footer{
	margin-top: 21px;
	color: #fff;
	background: #041E54;
	height: 200px;
	position: relative;
	font-size: 80%;
}
.footer-copyright{
	width: 100%;
	height: 50px;
	background: #111;
	padding: 10px;
	bottom: 0px;
	left: 0px;
}
.footer-body > div:first-child{
	font-size: 150%;
}
.footer-body ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	margin: 5px;
}
.footer-body li > a{
	color: white;
	text-decoration: none;
	margin-bottom: 7px;
}